.container {
  margin: auto;
  width: 40%;
  max-width: 400px;
  min-width: 200px;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
h1 {
  text-align: center;
  color: darkblue;
  margin-bottom: 5px;
  border-bottom: 1px solid gray;
}
input {
  padding: 5px;
}
button {
  align-self: flex-start;
  cursor: pointer;
}
.add {
  background-color: black;
  color: white;
  border: none;
  padding: 5px 15px;
}
.delete,
.edit {
  background-color: white;
  border: none;
  border-radius: 2px;
  padding: 5px 10px;
}
.todoitems {
  display: flex;
  justify-content: space-between;
  background-color: lightblue;
  border-radius: 5px;
  padding: 8px;
}
.button-group button {
  margin: 0px 5px;
  cursor: pointer;
}
.button-group button:hover {
  background-color: lightcyan;
}
.button-group button:active {
  background-color: rgb(139, 240, 240);
}
